# Fichier listant les paramètres du module et leurs valeurs par défaut

# Paramètres créés automatiquement au moment de l'installation du module

api_url = '/suivi_chiro'
id_application = 101

#####################################
# Paramètres du module
#####################################
# Identifiant du dataset des suivis chiro
id_dataset_suivi=90
# Identifiant du dataset des inventaires chiro
id_dataset_inventaire=91